/*
--- 01 Typography System
Font Sizes(px)
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font Weights
default: 400
medium - 500
semi-bold - 600
bold - 700

@media (max-width: 85em) { 1360px
@media (max-width: 72em){ 1152px
@media (max-width: 62em){ 992px
@media (max-width: 54em){ 864px
@media (max-width: 42em){ 672px
@media (max-width: 35em){ 560px

Line Heights
default : 1
small - 1.05
medium - 1.2
paragraph default - 1.6

Letter Spacing
-0.5px
0.75px

--- 02 COLORS

Primary - #3FBAC2
Tints: #d9f1f3, #c5eaed; #ecf8f9
Shades:#39a7af, #32959b
Accents:
Greys: 
rgb(36, 36, 36);
#3B4048
#464B52


-- 03 SHADOWS

---04 BORDER RADIUS
9px
11px

---05 WHITESPACES

- SPACING SYSTEM (px) - 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #3b4048;
    overflow-x: hidden;
    padding-top: 8rem;
}

/* dashboard nav active class*/

img {
    width: 250px;
    height: 150px;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem #79cfd4;
}

.paymentSuccess {
    display: flex;
    max-width: 50rem;
    margin: 5rem auto;
    width: 100%;
}

.paymentSuccess > h1 {
    font-size: 4rem;
}

.toast {
    font-size: 1.8rem;
}
