.main {
    display: flex;
    width: 60vw;
    align-items: center;
    height: 6.4rem;
    background-color: #c5eaed;
    padding-left: 20rem;
    justify-content: space-between;
}
.name {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}
.name > p {
    background-color: black;
    color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.4rem;
    background-color: #3fbac2;
}
.balance {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding-right: 20rem;
}
.balance > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.balance > div > p {
    padding: 1rem;
    background-color: #3fbac2;
    border-radius: 100rem;
    color: white;
    letter-spacing: 1.6px;
}

@media (max-width: 85em) {
    .main {
        padding-left: 10rem;
        gap: 4rem;
    }
    .balance {
        padding-right: 10rem;
    }
}
@media (max-width: 72em) {
    .main {
        padding-left: 7rem;
        gap: 3rem;
    }
    .balance {
        padding-right: 7rem;
    }
}
@media (max-width: 62em) {
    .main {
        width: 100vw;
        height: 5rem;
    }
    .name {
        font-size: 1.4rem;
    }
    .name > p {
        font-size: 2rem;
        width: 3.4rem;
        height: 3.4rem;
    }
    .balance > div > p {
        font-size: 1.4rem;
    }
}
@media (max-width: 35em) {
    .main {
        width: 100%;
        height: 5rem;
        padding-left: 3rem;
        gap: 2rem;
    }
    .name {
        font-size: 1.2rem;
        gap: 0.2rem;
    }
    .name > p {
        font-size: 1.6rem;
        width: 3rem;
        height: 3rem;
    }
    .balance > div {
        gap: 0.2rem;
    }
    .balance > div > p {
        font-size: 1.2rem;
    }
    .balance {
        font-size: 1.4rem;
        padding-right: 3rem;
    }
}
