.form {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 2fr 1fr 1fr / repeat(2, 1fr);
    gap: 1rem;
    column-gap: 3rem;
}
.form > input,
.form > select,
.form > textarea,
.date > input {
    background-color: #d9f1f3;
    border-radius: 4px;
}

.form > input,
.form > select,
.image {
    height: 4rem;
    font-size: 1.8rem;
}
.form > textarea {
    max-height: 8rem;
    min-height: 8rem;
    max-width: 26rem;
    min-width: 30rem;
    font-size: 2rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3fbac2;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}
.date {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2rem;
}
.date > label {
    font-size: 1.6rem;
    text-transform: uppercase;
}
.date > input {
    height: 4rem;
    font-size: 1.8rem;
}
.btn {
    grid-column: 1/3;
    place-self: center;
    width: 50%;
    height: 70%;
    background-color: #3fbac2;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}
.image:hover,
.btn:hover {
    border: 3px solid #3fbac2;
    background-color: rgb(36, 36, 36);
}

@media (max-width: 85em) {
    .form > input,
    .form > select,
    .image,
    .date > input {
        height: 3.4rem;
        width: 25rem;
    }

    .form > textarea {
        max-height: 6rem;
        min-height: 6rem;
        max-width: 21rem;
        min-width: 25rem;
    }
    .date {
        top: -3rem;
    }
}
@media (max-width: 72em) {
    .form {
        gap: 0.4rem;
        column-gap: 1.6rem;
    }
    .form > input,
    .form > select,
    .image,
    .date > input {
        width: 20rem;
        font-size: 1.6rem;
    }

    .form > textarea {
        max-height: 6rem;
        min-height: 6rem;
        max-width: 16rem;
        min-width: 20rem;
        font-size: 1.8rem;
    }
    .date {
        top: -2rem;
    }
    .date > label {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 2rem;
        position: relative;
        top: -1rem;
    }
}
@media (max-width: 62em) {
    .form {
        width: 100%;
        justify-items: center;
    }
}
@media (max-width: 35em) {
    .form > input,
    .form > select,
    .image,
    .date > input {
        width: 16rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .form > textarea {
        max-height: 6rem;
        min-height: 6rem;
        max-width: 12rem;
        min-width: 16rem;
        font-size: 1.4rem;
    }
    .date {
        top: -1rem;
    }
    .date > label {
        font-size: 1rem;
    }
    .btn {
        font-size: 1.6rem;
        top: 0rem;
    }
}
