.modal {
    position: fixed;
    left: 50%;
    top: 20vh;
    width: 40vw;
    background-color: #79cfd4;
    color: rgb(0, 0, 0);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transform: translate(-50%);
    border-radius: 1rem;
    padding: 2.4rem;
    z-index: 30;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.title {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}
.title > button {
    width: 2rem;
    height: 2rem;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.title > button:hover {
    background-color: rgb(36, 36, 36);
    color: #fff;
}
.modal > p {
    font-size: 1.6rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 72em) {
    .modal {
        width: 60vw;
    }
}
@media (max-width: 42em) {
    .title {
        font-size: 1.2rem;
    }
    .modal > p {
        font-size: 1.2rem;
    }
    .modal {
        padding: 1.8rem;
    }
}
