.main {
    height: 88.77vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: #fff;
    width: 100%;
    padding: 3rem;
    gap: 3.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}
.icon {
    width: 10rem;
    height: auto;
    color: #3fbac2;
}
.content > h1 {
    font-size: 2.4rem;
    color: #3fbac2;
}
.content > p {
    font-size: 1.4rem;
}
.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
}
.form > div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.form > div > label {
    text-transform: uppercase;
    font-size: 1.6rem;
}
.form > div > input {
    height: 3.4rem;
    border-radius: 4px;
    font-size: 1.8rem;
}
.form > button {
    height: 4rem;
    margin-top: 3rem;
    font-size: 2rem;
    background-color: #3fbac2;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s;
    border: 3px solid #3fbac2;
    font-weight: 600;
}
.form > button:hover {
    border: 3px solid #3fbac2;
    background-color: #fff;
    color: rgb(36, 36, 36);
}

@media (max-width: 35em) {
    .content {
        width: 30rem;
        padding: 1.6rem;
        gap: 2.2rem;
    }
    .icon {
        width: 6rem;
    }
    .content > h1 {
        font-size: 1.6rem;
    }
    .form > div > label {
        font-size: 1.2rem;
    }
    .form > div > input {
        height: 2.4rem;
        font-size: 1.2rem;
    }
    .form > button {
        height: 3rem;
        font-size: 1.6rem;
        margin-top: 1.6rem;
    }
    .content > p {
        font-size: 1rem;
    }
}
